<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
    #actions li {
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        margin-right: 10px;
    }
</style>

<span id="symbol"><%= model.symbol %></span>
<br/>
Cash: <span id="cash"><%= model.cash %></span>
<br/>
Stock: <span id="stock"><%= model.stock %></span>

<div id="graph"></div>

<ul id="actions">
    <% for (var i = -500; i <= 500; i += 100) { %>
        <% if (i !== 0) { %>
            <li data-action="<%= i %>">
                <%= (i < 0) ? 'sell ' + Math.abs(i): 'buy ' + i %>
            </li>
        <% } %>
    <% } %>
</ul>