<style>
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
    #actions li {
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        margin-right: 10px;
    }
</style>

<span id="symbol"><%= model.symbol %></span>
<br/>
Cash: <span id="cash"><%= model.cash %></span>
<br/>
Stock: <span id="stock"><%= model.stock %> ($<%= model.stock * model.quote %>)</span>

<div id="graph"></div>

<ul id="actions">
    <li class="action" data-action="sell">
        sell
    </li>
    <% for (var i = 0; i <= 100; i += 25) { %>
        <li class="amount" data-amount="<%= i %>">
            <%= i %>%
        </li>
    <% } %>
    <li class="action" data-action="buy">
        buy
    </li>
</ul>